<html>
	<head> </head>
	<body>
		<p>
			Guess the secret number! The number is between 0 and 100.
		</p>
		<p>
			<%= if params["guess"] != nil then message end %>
		</p>
		<form>
			<input type="text" name="guess" />
			<input type="submit" value="Guess!" />
		</form>
	</body>
</html>